.headerName {
    color: rgb(33, 51, 81) !important;
    font-size: 30px !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

.branchName {
    font-size: 21px !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
    text-align: center !important;
}