.issueContainer {
    margin: 40px 70px;
}

.issueBody {
    display: flex;
    flex-direction: column;
}

.buttonCommon {
    background-color: #6b8e23 !important;
    color: white !important;
    border: none;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.buttonCommon:hover {
    background-color: #155a9e !important;
}

.commentSection {
    margin-top: 16px;
}

.outerDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.issueImage {
    width: 100%;
    max-width: 350px;
    /* Adjust as needed */
    height: auto;
    max-height: 280px;
    /* Adjust as needed */
    object-fit: cover;
    border-radius: 4px;
    /* Optional: Adds rounded corners */
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adjust the gap as needed */
    margin-left: 20px;
}

.imageContainer {
    flex: 1 1 calc(33.3% - 10px);
    /* Adjust the width to fit your needs, 25% for 4 columns layout */
    max-width: calc(33.3% - 10px);
    display: flex;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailsRow {
    display: flex;
    gap: 20px;
}

.detailsLabel {
    font-weight: bold;
    color: #007bff;
    min-width: 80px;
}

.detailsLabelStatus {
    font-weight: bold;
    color: #007bff;
}

.detailsValue {
    display: flex;
    align-items: center;
    gap: 10px;
}