.okButton {
    color: white !important;
    background-color: #6b8e23 !important;
}

.okButton:hover {
    background-color: #155a9e !important;
}

.cancelButton {
    color: white !important;
    background-color: #f44336 !important;
}

.cancelButton:hover {
    background-color: #d32f2f !important;
}

.swalCustomPopup {
    width: 215px !important;
    height: 115px !important;
    margin: 0 !important;
}

.swalCustomIcon {
    font-size: 10px !important;
    padding: 0 !important;
    margin-top: 13px !important;
}

.swalCustomTitle {
    font-size: 14px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}