.profileContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.coverImage {
    height: 235px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.profileAvatar {
    width: 90px !important;
    height: 90px !important;
    position: absolute !important;
    top: 180px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    border: 4px solid white !important;
}

.profileDetails {
    margin-top: 27px;
    text-align: center;
}

.label {
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.value {
    color: black;
    font-size: 18px;
}

.outDiv {
    margin-top: 28px;
    margin-left: 14px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 40px;
}

.inDiv {
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
}

.fullName {
    font-weight: bold !important;
    font-size: 20px !important;
    color: rgb(49, 48, 48) !important;
}

.dropzone {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed rgb(204, 204, 204);
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
}

.dropzone:hover {
    border-color: #888;
    background-color: #f1f1f1;
}

.buttonCommon {
    background-color: #6b8e23 !important;
    color: white !important;
    margin: 16px !important;
}

.buttonCommon:hover {
    background-color: #155a9e !important;
}

.okButton {
    color: white !important;
    background-color: #6b8e23 !important;
}

.okButton:hover {
    background-color: #155a9e !important;
}

.cancelButton {
    color: white !important;
    background-color: #f44336 !important;
}

.cancelButton:hover {
    background-color: #d32f2f !important;
}

@media (max-width: 650px) {
    .profileContainer {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .profileContainer {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 530px) {
    .profileContainer {
        width: 600px;
        margin: 30px 0 30px 30px;
    }
}