.issueContainer {
    margin: 40px 70px;
}

.issueBody {
    display: flex;
    flex-direction: column;
}

.buttonCommon {
    background-color: #6b8e23 !important;
    color: white !important;
    border: none;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.buttonCommon:hover {
    background-color: #155a9e !important;
}

.commentSection {
    margin-top: 16px;
}

.outerDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.issueImage {
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 280px;
    object-fit: cover;
    border-radius: 4px;
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}

.imageContainer {
    flex: 1 1 calc(33.3% - 10px);
    max-width: calc(33.3% - 10px);
    display: flex;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailsRow {
    display: flex;
    gap: 20px;
}

.detailsLabel {
    font-weight: bold;
    color: #007bff;
    min-width: 80px;
}

.detailsLabelStatus {
    font-weight: bold;
    color: #007bff;
}

.detailsValue {
    display: flex;
    align-items: center;
    gap: 10px;
}

.overlayModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 24px;
    padding: 16px;
    outline: none;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.duplicatesTable {
    width: 100%;
    border-collapse: collapse;
}

.duplicatesTable th,
.duplicatesTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.duplicatesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}

.issueLink {
    text-decoration: none;
    color: #007bff;
    margin-right: 30px;
}

.issueLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 600px) {
    .cardBody {
        width: 590px;
    }
    .buttonCommon {
        font-size: 10px !important;
    }
}